.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.links a:hover {
  color: #ffa74f;
}

.menu {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .links {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .links.show {
    display: flex;
  }

  .menu {
    display: block;
  }
}
